/* GLOBAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

a,
button {
  cursor: pointer;
}

/* ---------------- LANDING PAGE -------------------- */

nav {
  padding: 1.5rem;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

nav ul li {
  letter-spacing: 2px;
}

.cta {
  border: 2px solid #c8920d;
  padding: 1rem;
  margin-top: -1rem;
  border-radius: 15px;
  color: #c8920d;
}

header {
  height: 100vh;
  background: url(/img/landingvita.png) center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.herotext {
  text-align: center;
}

.herotext h1 {
  margin-bottom: 1rem;
  padding: 4rem;
  padding-bottom: 1rem;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 10px;
  color: white;
  text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.3);
}

.herotext h2 {
  padding: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  color: white;
  text-shadow: 5px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: -18rem;
}

.herotext hr {
  width: 25%;
  margin: 0 auto;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.205);
}

.herotext span {
  font-weight: 500;
  font-size: 6rem;
}

.buttons {
  display: -webkit-box;
  display: flex;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 20rem 0;
}

.btn-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn-container:first-child {
  padding-right: 5rem;
  margin-top: -4rem;
}

.btn-text {
  font-weight: 300;
  color: white;
  letter-spacing: 5px;
}

.btn-container button {
  padding: 2.5rem 3.5rem;
  margin: 2rem;
  border-radius: 15px;
}

.seethru-btn {
  text-transform: uppercase;
  border: 3px solid #ffb500;
  background: none;
  color: #ffb500;
  font-size: 2rem;
  letter-spacing: 5px;
}

.orange-btn {
  text-transform: uppercase;
  border: 3px solid white;
  background: #c8920d;
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
}

.socials {
  font-size: 5rem;
  margin: 2rem;
  color: white;
  text-decoration: none;
}

.social,
a {
  padding: 1rem;
  margin: 0 2rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social:visited,
.social:link {
  text-decoration: none;
}

/* ---------------- SMALL INFO SECTION -------------------- */

section.small-info {
  height: 50vh;
  border: 5px solid #c8920d;
}

.small-info .container {
  -webkit-box-pack: center;
  justify-content: center;
  height: 50vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  -webkit-box-align: center;
  align-items: center;
}

.infoicon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 3rem;
}

.infotext {
  font-size: 2rem;
  width: 25%;
  line-height: 1.8;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.smoothie {
  width: 15rem;
  height: 20rem;
}

.delivery {
  width: 25rem;
  height: 15rem;
}

/* ---------------- OUR STORY -------------------- */

section.story {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  border-top: 5px solid #c8920d;
}

.container-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 66.5%;
  background-color: #0081c5;
}

.container-left p {
  font-size: 2rem;
  line-height: 1.8;
  letter-spacing: 2px;
  padding: 5rem;
  width: 70%;
  margin: 0 auto;
  color: white;
}

.container-left hr {
  width: 40%;
  margin: 0 auto;
}

.container-right {
  width: 33.2%;
}

.container-right img {
  width: 105.7%;
}

.headline {
  margin-top: 3rem;
  color: white;
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.301);
}

.container-left button {
  padding: 2rem 3rem;
  border-radius: 15px;
  margin-top: 2rem;
}

.menu-btn {
  margin: 0 auto;
}

/* ---------------- OUR MISSION -------------------- */

section.mission {
  height: 50vh;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: flex;
  border: 5px solid #0081c5;
}

.team {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.team img {
  width: 30%;
  padding: 2rem;
}

.team .member {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.team-mission {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.team-mission h2 {
  margin-top: 2rem;
  padding: 3rem;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.301);
}

.team-mission hr {
  width: 50%;
}

.team-mission p {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 2px;
  padding: 5rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* ---------------- MENU SECTION -------------------- */

section.menu {
  height: 100vh;
  background-color: #c8920d;
  border: 5px solid #0081c5;
  border-top: none;
}

.menu h2 {
  letter-spacing: 3px;
  text-align: center;
  color: white;
  padding: 4rem;
  font-size: 5rem;
  font-weight: 300;
}

/* ---------------- REVIEWS SECTION -------------------- */

section.reviews {
  height: 50vh;
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))),
    url(/img/berries.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/berries.jpg);
  background-attachment: fixed;
}

.reviews h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 4rem;
  color: white;
}

.testimonials {
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

blockquote {
  letter-spacing: 2px;
  padding: 2%;
  line-height: 145%;
  position: relative;
  margin-top: 4rem;
  max-width: 80rem;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
}

/* ---------------- ORDERING SECTION -------------------- */

section.order {
  height: 100vh;
  background-color: #0081c5;
  display: -webkit-box;
  display: flex;
  border: 5px solid white;
}

.order img {
  width: 37.5%;
}

.order h2 {
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 4rem;
  color: white;
}

.form-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
}

.form-container hr {
  width: 100%;
}

.contact {
  padding: 4rem 8rem;
  margin-top: 4rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 4rem;
  width: 120%;
}

.contact input,
textarea {
  margin: 2rem;
  padding: 1.2rem;
  width: 100%;
  border-radius: 15px;
  border: none;
}

.contact label {
  color: white;
  font-size: 2rem;
}

.contact button {
  padding: 1.5rem 2.5rem;
  margin: 4rem;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  background: #c8920d;
  color: white;
  border: 3px solid white;
  border-radius: 15px;
}

/* ---------------- FOOTER -------------------- */

footer {
  height: 30vh;
  background-color: #464646;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.logo-box {
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.footer-logo {
  width: 30%;
  margin: 2.5rem 5rem;
  text-align: center;
  display: -webkit-box;
  display: flex;
}
footer p {
  color: white;
  font-size: 2rem;
}

.links-box {
  display: -webkit-box;
  display: flex;
  position: relative;
}

footer ul {
  list-style: none;
  font-size: 2rem;
}

footer ul li {
  padding: 1rem;
}
